/* 

	Admin Area CSS
	
	pages: all
	media: all
	
	written by: Phil Thompson hello@philthompson.co.uk August 2007
	last edited: Phil Thompson 10/12/07 by Phil Thompson
	
*/


div#view-website{
	float: right;
}

/* Breadcrumb */
div.breadcrumb{
	background: #BBF;
	border: none;
	color: #000;
	font-size: 100%;
	padding: 0 10px;
	margin: -10px 0 10px;
}