/** 
 *
 *	
 *	Bean Counter CSS
 *	
 *	@pages			bookings
 *	@media			all
 *	
 *	@since			12/2008
 *	@author			hello@philthompson.co.uk
 *	@lastmodified	09/03/2010
 *	
 *	
 */
 

 
 table.calendar th{
 	text-align: left;
 }
 

 table.calendar td{
 	border: 1px solid #DDD;
  	width: 120px;
 	padding: 10px 0;
 	vertical-align: top;
 }
 
 #SecondaryContent table.calendar td{
 	width: auto;
 }
 
 td.empty{
 	background: #EEE;
 }
 
 td div.day{
 	color: #DFDFDF !important;
 	font-size: 85%;
 	margin: 0 10px;
 	text-align: right;
 }
 
 	.calendar div.day form,
 	.calendar div.day form fieldset,
 	.calendar div.day form fieldset button{
 		background: transparent;
 		border: none;
 		clear: none;
 		color: inherit;
 		float: none;
 		font-family: inherit;
 		font-size: 100%;
 		font-weight: normal;
 		margin: 0;
  		max-width: 120px;
 		min-width: 1px;
 		padding: 0;
 		text-align: right;
 		width: 100%;
 	}
	 	
 	.calendar button{
 		color: #999;
 		margin: 0;
 		padding: 0;
 		text-decoration: none;
 		text-shadow: none;
 	}
 	
 	.calendar button:hover{
 		color: #333;
 	}
 	
 	.calendar div.day form fieldset button:hover{
 		text-decoration: none;
 	}
 
  table.calendar td ul.bookings{
  	margin: 10px 0 0;
  	padding: 0;
  }
  
  	table.calendar td ul.bookings li{
  		font-size: 90%;
  		line-height: 1.2;
  		list-style: none !important;
  		margin: 0 0 .25em;
  		max-width: 140px;
  		width: 96%;
  	}
  	
  	table.calendar td ul.bookings a{
  		background: #DFDFDF;
  		color: inherit;
  		display: block;
  		max-width: 132px;
  		padding: 2px 5px;
  		text-decoration: none;
  		width: 100%;
  	}
  	
  		table.calendar td ul.bookings a:hover{
  			background: #F5F5F5;
  		}
  	
  	table.calendar td ul.bookings li.all-day a{
  		
  	}
  	
 
table.calendar td ul.bookings .multiple a{
	max-width: 133px;
}