/** 
 *
 *	
 *	Bean Counter CSS
 *	
 *	@pages			bookings
 *	@media			all
 *	
 *	@since			12/2008
 *	@author			hello@philthompson.co.uk
 *	@lastmodified	01/05/2013
 *	
 *	
 */
 

 
.calendar th{
 	text-align: left;
 }
 

.calendar td{
 	border: 1px solid #ddd;
  	width: 120px;
 	padding: 10px 0;
 	vertical-align: top;
 }
 
 #SecondaryContent .calendar td{
 	width: auto;
 }
 
 td.empty{
 	background: #eee;
 }
 
 td div.day{
 	color: #dfdfdf !important;
 	font-size: 85%;
 	margin: 0 10px;
 	text-align: right;
 }
 
 	.calendar .day form,
 	.calendar .day fieldset,
 	.calendar .day button{
 		background: transparent;
 		border: none;
 		clear: none;
 		color: inherit;
 		float: none;
 		font-family: inherit;
 		font-size: 100%;
 		font-weight: normal;
 		margin: 0;
  		max-width: 120px;
 		min-width: 1px;
 		padding: 0;
 		text-align: right;
 		width: 100%;
 	}
	 	
 	.calendar button{
 		color: #999;
 		margin: 0;
 		padding: 0;
 		text-decoration: none;
 		text-shadow: none;
 	}
 	
 	.calendar button:hover{
 		color: #333;
 	}
 	
 	.calendar button:hover{
 		text-decoration: none;
 	}
 
 .calendar .bookings{
  	margin: 10px 0 0;
  	padding: 0;
  }
  
  	.calendar .bookings li{
  		font-size: 90%;
  		line-height: 1.2;
  		list-style: none !important;
  		margin: 0 0 .25em;
  		max-width: 140px;
  		width: 96%;
  	}
  	
  	.calendar .bookings a{
  		background: #DFDFDF;
  		color: inherit;
  		display: block;
  		max-width: 132px;
  		padding: 2px 5px;
  		text-decoration: none;
  		width: 100%;
  	}
  	
  		.calendar .bookings a:hover{
  			background: #f5f5f5;
  		}
 
		.calendar .bookings .multiple a{
			max-width: 133px;
		}
		
		
/* Mini Calendar */

.calendar-mini{
	width: 300px;
}

.calendar-mini th{
	padding: 2px;
	text-align: center;
}

.calendar-mini td{
	min-height: 20px;
	padding: 2px 0;
}

.calendar-mini .day{
	float: right;
	margin: 0;
}

.calendar-mini caption{
	background: transparent;
	margin-top: 0;
	padding: 0 0 10px;
}


.calendar-mini .bookings{
	float: left;
	clear: both;
	padding: 0;
	width: 100%;
}

.calendar-mini .bookings li{
	clear: both;
	float: left;
	margin: 0;
	width: 100%;
}

.calendar-mini .bookings a {
	margin: 0 auto 2px;
	padding: 3px 0;
	width: 100%;
}

.calendar-mini .multiple a {
	width: 101%;
}

.calendar-mini button{
	background: transparent;
	border: none;
	padding: 0;
}