/**
 /** 
 *
 *	Bean Counter CSS
 *	
 *	@pages			home/dashboard
 *	@media			all
 *	@browsers		all
 *	
 *	@since			10/2008
 *	@author			hello@philthompson.co.uk
 *	@lastmodified	01/05/2013
 *	
 */

.layout-b .content-primary{
	width: 680px;
}	
	
		.layout-b .data caption{
			margin: 0;
		}

	
.layout-b .content-secondary{
	background: #f5f5f5;
	clear: none;
	float: right;
	margin: 80px 0;
	padding: 20px 30px 30px;
	width: 320px;
}	

	.layout-b .content-secondary form{
		margin: 0;
	}



/* iPhone [portrait + landscape] */
@media screen and (max-width: 640px) {

	.layout-b .content-primary,
	.layout-b .content-secondary{
		float: left;
		width: 100%;
	}
	
}