/** 
 *
 *	Bean Counter CSS
 *	
 *	@pages			login
 *	@media			all
 *	@browsers		all
 *	
 *	@since			06/2008
 *	@author			hello@philthompson.co.uk
 *	@lastmodified	29/04/2013
 *	
 */

#Menu, 
#Submenu, 
div#Welcome, 
div.breadcrumb, 
div#SecondaryContent{
	display: none;
}



div#Container .inner, 
div#Header .inner, 
div#Branding, div#Content .inner, 
div#PrimaryContent, 
div#Footer .inner{
	width: 360px;
}

#BeanCounter .inner{
	width: 460px;
}

div#Container{
	margin-top: 20px;
	width: 460px;
}


div#PrimaryContent{
	margin: 0 auto;
	float: none;
}


div#PrimaryContent form fieldset{
	margin: 0 auto;
	width: 320px;
}


div#PrimaryContent form fieldset input{
	width: 100%;
}


div#Footer div.vcard{
	width: 300px;
}

div#Footer #Copyright{
	float: none;
	text-align: center;
}

form a.button{
	display: inline;
	float: none;
	margin: 0 0 0 5px;
	padding: 1px 14px 2px 7px;
	text-indent: 0;
	width: auto;
}
