/** 
 *
 *	Bean Counter CSS
 *	
 *	@pages			all
 *	@media			print
 *	@browsers		all
 *	
 *	@since			08/2007
 *	@author			hello@philthompson.co.uk
 *	@lastmodified	07/05/2013
 *	
 */

body, div{
	background-color: #FFF !important;
	color: #000;
}

/* Hidden elements */
.logged-in-status, .site-nav, div.breadcrumb, div.content-secondary{
	display: none;
}

.inner{
	width: 100%;
}

table{
	width: 98%;
}