/** 
 *
 *
 *	Bean Counter CSS
 
 *	Table of Contents
 *	
 *	Form
 *		
 *		Paragraphs
 *		Fieldset
 *			Fieldset Fieldset
 *			Legend
 *			Help & instructions
 *			Labels
 *			Pre-input labels (e.g. currency signs)
 *			Data entry
 *				inputs
 *				textareas
 *				drop downs (select)
 *				checkboxes/radio buttons & labels
 *			Buttons
 *		
 *	Different types of forms:
 *		form.incognito/tables in forms
 *		form errors
 *		sort form e.g. JavaScript sortable menus
 *		
 *		AJAX Tags
 *		
 */

/* Form */
form{
	background: #f5f5f5;
	clear: both;
	margin: 60px 0;
}


label, input, textarea, select, button, a.button{
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1;
}
	
	
	/* P */

	form p{
		padding: 5px 0;
	}

	/* Fieldset*/
	fieldset{
		border: none;
		margin: 30px 0;
		padding: 30px; 
	}
	
		fieldset fieldset{
			background: rgba(255, 255, 255, 0.4);
			clear: both;
			margin: 0 0 30px;
			padding: .5em 30px;
		}
		
			fieldset fieldset fieldset{
				background: rgba(0, 0, 0, 0.02);
				padding: .5em 30px;
			}
	
		/* Legend */
		h2.legend{
			margin-top: 60px;
			padding: 0 0 10px;
		}
		
		legend{
			font-size: 24px;
			margin-top: 60px;
		}
		
		fieldset fieldset legend{
			font-size: 16px;
		}
		
			#filterForm legend{
				font-size: 14px;
			}
			
		form div.field{
			clear: both;
			float: left;
			width: 100%;
		}
		
		/* Help & feedback */
		
		p.instructions{
			border-bottom: 1px solid #ccc;
			clear: both;
			color: #333;
			margin: .5em 0 1em; 
			padding: .5em 0 15px;	
		}
		
		form .help{
			float: left;
			margin: 0 0 1em;
			padding: 0;
			width: auto;
		}
		
			form p.help{
				clear: both;
				display: block;
			}
			
			form span.help{
				color: #666;
				float: none;
				margin-left: 5px;
				padding-top: 14px;
				vertical-align: middle;
				text-shadow: 1px 1px 0 rgba(255,255,255, 0.3);
			}
			
			form select + span.help{
				padding-top: 0;
				vertical-align: top;
			}
			
			form a.button{
				background: transparent !important;
				border: none !important;
				margin-top: 5px;
			}
			
			form a.button:hover:before{
				color: #333;
			}
		
		/* Labels */
		
		label{
			clear: both;
			color: #333;
			display: block;
			font-size: 16px;
			margin: .75em 0 5px;
		}
		
			/* Required field label */
			label.required{
				
			}
			
			label.highlighted{
				text-decoration: underline;
			}
			
			form fieldset label span.required{
				color: #666;
				font-weight: bold;
			}
			
			label.incognito{
				color: inherit;
				display: inline;
				font-weight: inherit;
				margin: 0;
			}
			
			label[for]{
				cursor: pointer;
			}
			
		/* Pre Input */
		span.pre-input{
			float: left;
			font-size: 14px;
			font-style: italic;
			font-weight: bold;
			left: 20px;
			margin: .75em 5px 0 -1em;
			position: relative;
			top: 1px;
		}
		
		/* Secondary information */
		span.secondary-info{
			display: block;
		}
			
		/* DATA ENTRY */
		
		/* Input */
		input,
		select,
		textarea{
			background: #fff;
			border: none;
			color: #666;
			float: left;
			font-size: 16px;
			margin: 0 0 .5em;
			padding: 10px 5px;
			width: 640px;
		}
			/* Numerical input */
			input.int{
				width: 120px;
			}
			
			.content-secondary input.int{
				width: 55px;
			}
		
			input[type="hidden"]{
				border: none;
			}
			
			input[type="search"]{
				-webkit-appearance: none;
			}
			
			input#url{
				max-width: 17em;
			}

			input.disabled{
				background: #F7F7F7;
				border: none;
				font-style: italic;
			}
			
			
			input:focus,
			textarea:focus
			select:focus{
				color: #333;
			}
			
			
		
		span.pre-input + input{
			padding-left: 15px;
			width: 110px;
		}
		
		span.post-input{
			display: inline-block;
			padding: 10px 0 10px 5px;
			vertical-align: middle;
		}
		
		/* Textarea */
		textarea{
			height: 10em;
			line-height: 1.4;
			margin: 0 0 .5em;
			resize: vertical;
		}
		
			textarea:focus{
				
			}
			
		/* Checkboxes/radio buttons */
		input[type="checkbox"],
		input[type="radio"]{
			border: none;
			clear: left;
			display: inline-block;
			font-size: 16px;
			margin: .5em 0 .5em;
			vertical-align: top;
			width: auto;
		}
		
		/* Labels for Checkboxes/radio buttons */
		input[type="checkbox"] + label,
		input[type="radio"] + label{
			clear: none;
			display: inline-block;
			margin: .5em 0 .5em 5px;
			vertical-align: top;
			width: auto; /* IE6+ has trouble with this */
		}
		
		
		/* Drop downs <select> */
		
		select{
			max-width: 640px;
			min-width: 375px;
		}
		
			select option{
				padding-right: .75em;
			}
		
				select option[selected]{
					background: #ffb;
				}
				
			fieldset.date select{
				font-size: 14px;
				margin-right: 5px;
				min-width: 1em;
				width: auto;
			}
			
			.fieldset-row select{
				min-width: 150px;
				max-width: 280px;
			}
		
		
		
		/* focus styles */
		input:focus,
		form fieldset textarea:focus,
		select:focus{
			background: #fff;
			color: #000;
			
		}
		
		
		/* Buttons */
		
		input.button, 
		button{
			clear: both;
			float: left;
			font-size: 20px;
			margin: .5em 0;
			min-width: 200px;
			padding: .5em 0;
			width: auto;
		}
		
		
		form a.button{
			color: inherit;
			display: inline-block;
			float: none;
			margin: 0 0 0 5px;
			padding: 10px 0;
			text-shadow: none;
		}
		
		form a.inline-button{
			margin: 20px 0;
			padding: 3px 0 2px;
			text-indent: 0;
			width: auto;
		}
		
		/* Forms in table/Styleless forms (class="incognito") */
		form.incognito,
		form.incognito fieldset,
		td form, 
		td fieldset{
			background: transparent;
			border: none;
			margin: 0;
			padding: 0;
		}
	
		form.incognito fieldset,
		td fieldset{
			padding: 0 10px;
		}
		
		/* Errors */
		div.field.error{
			clear: both;
		}
		
			div.field.error span.error{
				clear: both;
				color:#666;
				display: block;
				font-size: 95%;
				margin: 0 0 20px;
				padding: 2px 0 0;
			}
		
		div.field.error input,
		div.field.error textarea,
		div.field.error select{
			
		}
		
		/* Pagination in forms */
		form ul.pagination li{padding: 0 5px;}
		
		/* refresh_link */
		form a.refresh_link{display: none;}


/* Checkboxes */
fieldset.checkboxes legend{
	margin-top: 30px;
}

fieldset.checkboxes div.field{
	clear: none;
	float: left;
	width: 200px;
}

	fieldset.checkboxes div.field label.checklabel{
		line-height: 1.3;
		max-width: 175px;
	}
	
/* Dates */
fieldset.date{
	max-width: 640px;
}	
	
	
	
/* iPhone [portrait + landscape] */
@media screen and (max-width: 640px) {


	form{
		margin: 30px 0;
	}
	
	fieldset{
		padding: 15px;
	}
	
		fieldset fieldset{
			padding: 0.5em 15px;
		}
	
	
	input, select, textarea{
		max-width: 100%;
		width: 100%;
	}
	
	input[type="checkbox"],
	input[type="radio"]{
		height: auto;
		width: auto;
	}


	
}