/* Fonts */
$font-family-body: sans-serif;
$font-family-body-bold: $font-family-body;
$font-family-body-italic: $font-family-body;

/* Colours */
$c-white: #fff;
$c-black: #000;

/* MQs */
$xl: 1600;
$l: 1024;
$m: 768;
$ms: 600;
$s: 480;
$xs: 320;

/* Misc */