/* Welcome note */
.logged-in-status{
	background: #111;
	color: #fff;
	float: left;
	font-size: .85rem;
	padding-bottom: 3px;
	top: 0;
	width: 100%;

	@include breakpoint(ipad-landscape){
		background: transparent;
		position: absolute;
		text-align: right;
		top: -15px;
	}
}

	.logged-in-status .inner{
		max-width: 100%;
	}

	.logged-in-status p{
		padding: 5px 10px 0;
	}
	
		.logged-in-status a{
			color: inherit;
			padding: 0 .25em;
		}
			
			.logged-in-status a:last-of-type{
				padding-right: 0;
			}
