/* Footer */
.site-footer{
	border-top: 5px solid #d9d9d9;
	clear: both;
	color: #333;
	float: left;
	font-size: 90%;
	width: 100%;
}

	.site-footer small{
		display: block;
		float: right;
		padding: 20px 0;
		text-align: right;
		width: 500px;
	}